<div style="text-align:center" class="row">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid nav-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Vorpa</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/notes">Notes</a></li>
        <li><a href="/notes/add">Add Note</a></li>
      </ul>
    </div>
  </nav>
  <img class="main-whale-logo" width="200" alt="Whale Logo" src="https://drive.google.com/file/d/1ipS5FAxGCt6vh5YRrdwK_r_b3-Tu-quC/view?usp=sharing">
  <div class="divider">
    <div class="top-half-divider"></div>
    <div class="bottom-half-divider"></div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="small-divider">
  <div class="top-half-divider"></div>
  <div class="bottom-half-divider"></div>
</div>

